.tooltipBottom,
.tooltipTop {
  position: absolute;
  white-space: nowrap;
  background-color: gray;
  color: wheat;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  box-shadow:  0px 0px 1px rgb(230, 44, 44);
  
}

.tooltipBottom {
  top: 2.2rem;
  left: -50%;
}

.tooltipTop {
  bottom: 2rem;
  left: -50%;
}