*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(107, 48, 107);
  background-color: rgba(137, 43, 226, 0.87);
}

.app {
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}