:root {
  --primary-bg-color: oklch(58% 0.2501 301.02);
  --icon-hover-bg-color: oklch(44% 0.2501 301.02);
  --navbar-bg-color: #b2d9e4;
  --navbar-bg-color: oklch(86% 0.0436 216.74);
  --font-family: 'Roboto Condensed', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(107, 48, 107);
  background-color: rgba(137, 43, 226, 0.87);
  background-color: rgba(137, 43, 226, 0.77);
  background-color: #973ff3;
  background-color: var(--primary-bg-color);
}

.app {
  margin: 0 auto;
  font-family: var(--font-family);
}

.main {
  padding: 1rem 0;
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
}

.icon {
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  padding: 0.3rem;
  transition: opacity 0.2s ease;

  &:hover {
    background-color: var(--icon-hover-bg-color);
  }
}