.albumForm {
  margin: 2rem;

  form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;

    button {
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      margin: 0 2rem;
      border-radius: 20%;
      cursor: pointer;
      background-color: rgb(54, 81, 202);
      color: wheat;
      color: #17f5c0;
      opacity: 0.9;
      transition: all 0.1s ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.02);
      }
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.1rem;
    font-size: 1.1rem;
    color: #17f5c0;
  }

  input {
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    outline: none;
    font-size: 1rem;
  }
}

.responseMessage {
  position: absolute;
  top: 50px;
  left: 45%;
  color: red;
}

.responseMessage .success {
  color: green;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
