.imgContainer {
  width: 12rem;
  padding: 1rem;
  animation: slidein .5s ease-in;
  
}

/* animation */
@keyframes slidein {
  from {
    opacity: .2;
  }
  to {
    opacity: 1;
  }
}

.imgContainer img {
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.2rem;
  transition: all 1s ease-in;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

  width: 100%; /* La imagen llena el contenedor */
  /* height: 110px; */ /* Altura fija para un diseño uniforme, ajusta según necesidad */
  object-fit: cover; /* Recorta la imagen para que cubra todo el espacio sin deformarse */
  display: block; /* Elimina espacios no deseados debajo de las imágenes */
}

.imgContainer img:hover {
  transform: scale(1.04);
}

